.card_tile {
    /* border: 1px solid var(--gray-med); */
    min-width: 80px;
    height: 80px;
    font-size: 12px;
    border-radius: 8px;
    margin: 5px 0 5px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_image {
    height: 50px;
    width: 100%;
    background-color: #83898B;
    background-position-y: center;
}

.card_name {
    background-color: #e9e9eb;
    font-weight: 500;
    font-size: 10px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #242424;
}