.card_tile {
    width: 70px;
    max-width: 70px;
    height: 70px;
    font-size: 12px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_image {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    background-position-y: center;
}

.card_tile:hover>.card_image {
    background-color: #EAEAEA;
}

.card_name {
    background-color: #e9e9eb;
    font-weight: 500;
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #242424;
}