.topnavbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-med);
    box-sizing: border-box;
    padding: 17px;
}

.topnavbar_rhs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    gap: 15px;
}

.topnavbar_rhs>button,
.topnavbar_rhs>a>button {
    height: 40px;
}

.profile_button {
    height: 40px;
    width: 40px;
    background-color: var(--blue);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    color: white
}

.profile_button:hover {
    background-color: #0058C6;
}

.profile_button:active {
    background-color: #014eab;
}

.cover_all {
    position: absolute;
    z-index: 0;
    background-color: none;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}