.topnavbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-med);
    box-sizing: border-box;
    padding: 17px;
}

.topnavbar_rhs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    gap: 15px;
}

.topnavbar_rhs>button {
    height: 40px;
}

.profile_button {
    height: 40px;
    width: 40px;
    background-color: var(--blue);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}