.template_tile {
    min-height: 144px;
    width: 270px;
    border: 1px solid var(--gray-med);
    cursor: pointer;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    transition: all 0.2s
}

.template_tile:hover {
    box-shadow: 2px 4px 12px #00000024;
    background-image: linear-gradient(0turn, red, blue);
}

.template_tile_description {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

.selected_template {
    border: 4px solid var(--blue);
}