.tiers_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    margin: auto;
    margin-top: 10px;
}

.tiers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 800px;
    gap: 0px;
}

.tier_and_letter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tier_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.tier {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    min-height: 80px;
    flex-wrap: wrap;
    width: 100%;
}

.untiered_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.untiered_tier {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    max-width: 320px;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    min-height: 500px;

}

.tier_divider {
    width: 100%;
    border-bottom: 1px solid var(--gray-med);
    margin-top: 5px;
    margin-bottom: 5px;
}

.s_header,
.a_header,
.b_header,
.c_header,
.d_header,
.f_header,
.untiered_header {
    min-height: 70px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 500;
    color: white;
    margin-right: 10px;
}

.s_header {
    background-color: var(--purple);
}

.a_header {
    background-color: var(--blue);
}

.b_header {
    background-color: var(--green);
}

.c_header {
    background-color: var(--yellow);
}

.d_header {
    background-color: var(--orange);
}

.f_header {
    background-color: var(--red);
}

.untiered_header {
    background-color: var(--gray-med);
    font-size: 12px;
    color: black;
    width: 70px;
    margin-right: 0;
}

.untiered {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}