.main_wrapper {
    max-width: 1000px;
    padding: 40px 20px 10px 20px;
    margin: auto;
}

.templates_wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
}

.published_wrapper {
    display: flex;
    width: 100%;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 15px;
    transition: all 0.5s;
}

.main_header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid var(--gray-med);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.next,
.prev {
    background-color: var(--gray-med);
    color: var(--gray-dark);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 50%;
    transition: all 0.3s;
    font-size: 16px;
    position: absolute;

}

.next {
    margin-top: 100px;
    margin-left: 910px;
}

.prev {
    margin-top: 100px;
    margin-left: 20px;
}

.next:hover,
.prev:hover {
    opacity: 70%;
}

.next:active,
.prev:active {
    opacity: 90%;
    font-size: 18px;
}