.main_wrapper {
    max-width: 1000px;
    padding: 40px 20px 40px 20px;
    margin: auto;
}

.templates_wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
}

.published_wrapper {
    display: flex;
    width: 100%;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 15px;
    transition: all 0.5s;
}

.main_header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid var(--gray-med);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.more {
    background-color: var(--gray-med);
    color: var(--gray-dark);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 90%;
    transition: all 0.3s;
    font-size: 24px;
    position: absolute;
    margin-top: 100px;
    margin-left: 900px;
}

.more:hover {
    opacity: 70%;
}