.template_selection {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.templates_wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 40px;
}